<div class="authBlock">
  <h3>Sign Up</h3>
  <div class="formGroup">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" placeholder="Email Address" #userEmail required>
    </mat-form-field>
  </div>
  <div class="formGroup">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" #userPwd required>
    </mat-form-field>
  </div>
  <div class="formGroup">
    <button mat-stroked-button (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
  </div>
  <div class="formGroup">
    <span class="or"><span class="orInner">Or</span></span>
  </div>
  <!-- Continue with Google -->
  <div class="formGroup">
    <button mat-stroked-button (click)="authService.GoogleAuth()">Continue with Google</button>
  </div>
</div>
<div class="redirectToLogin">
  <span>Already have an account? <button mat-button color="primary" routerLink="/sign-in">Log In</button></span>
</div>

