<div class="authBlock">
  <h3>Reset Password</h3>
  <p class="text-center">Please enter your email address to request a password reset.</p>
  <div class="formGroup">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" placeholder="Email Address" #passwordResetEmail required>
    </mat-form-field>
  </div>
  <!-- Calling ForgotPassword from AuthService Api -->
  <div class="formGroup">
    <button mat-stroked-button (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
  </div>
</div>
<div class="redirectToLogin">
  <span>Go back to ? <button mat-button color="primary" routerLink="/sign-in">Log In</button></span>
</div>
