<div class="authBlock">
  <h3>Sign In</h3>
  <div class="formGroup">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" #userName required>
    </mat-form-field>
  </div>
  <div class="formGroup">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" #userPassword required>
    </mat-form-field>
  </div>
  <!-- Calling SignIn Api from AuthService -->
  <div class="formGroup">
    <button mat-stroked-button (click)="authService.SignIn(userName.value, userPassword.value)">Log in</button>
  </div>
  <div class="formGroup">
    <span class="or"><span class="orInner">Or</span></span>
  </div>
  <!-- Calling GoogleAuth Api from AuthService -->
  <div class="formGroup">
    <button mat-stroked-button (click)="authService.GoogleAuth()">Log in with Google</button>
  </div>
  <div class="forgotPassword">
    <button mat-button color="primary" routerLink="/sign-in/forgot-password">Forgot Password?</button>
  </div>
</div>
<div class="redirectToLogin">
  <span>Don't have an account?<button mat-button color="primary" routerLink="/sign-in/registration"> Sign Up</button></span>
</div>
